* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px; 
    color: #000000;
    background-color: white; 
}

.page-container {
    max-width: 1523px; 
    max-height: 350px;
    margin: 0 auto; 
}

header {
    background-color: #FFD900; 
    padding: 65px 563px 32px 131px;
    box-sizing: border-box;
    height: 350px;
}

.version {
    box-sizing: border-box;
    height: 24px;
    max-width: 322px;
    font-size: 20px;
}

h1 {
    width: 829px;
    height: 239px;
    font-size: 200px; 
    font-weight: 700;
    line-height: 1; 
}

main {
    padding: 103px 431px 302px 134px;
}

section {
    margin-bottom: 48px; 
}

h2 {
    max-width: 523px;
    height: 53px;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0; 
}

.section-content {
    border-left: 6px solid black; 
    padding-left: 29px;
    margin-top: 26px; 
}

.section-content p {
    margin-top: 0; 
    margin-bottom: 1px; 
}

.section-content p:last-child {
    text-align: justify;
    max-width: 923px;
    height: 96px;
    margin-bottom: 90px;
}


.font-list {
    list-style: none;
    padding-left: 0;
}

.font-list li {
    margin-bottom: 58.8px; 
}

.section-content-typefaces {
    text-align: justify;
    max-width: 884px;
    height: 48px;
    margin-bottom: 80px;
    border-left: 6px solid black;
    padding-left: 29px;
    margin-top: 26px;
}

.section-content-liv {
    text-align: justify;
    max-width: 791px;
    height: 72px;
    margin-bottom: 58.8px;
    margin-top: 24px;
}

.section-content-site {
    text-align: justify;
    border-left: 6px solid black;
    padding-left: 29px;

}

.GTF {
    box-sizing: border-box;
    max-height: 50.22px;
    max-width: 333.88px;
}

.mackay-bold {
    max-width: 382.35px;
    max-height: 48.06px;
}
 .font-list p {
    margin-top: 29px;
 }